.section--payout, .section--details {
  .scroll-wrapper {
    display: block;
    overflow-x: auto;
  }

  .table {
    max-width: 100%;
    background: inherit;
    margin: ($base-size * 2) auto;
  }

  .table-row {
    display: inline-flex;
    align-items: center;
    margin: 0 ($base-size * 2);
    padding: $base-size * 1.5;
    cursor: pointer;
    border-bottom: 1px solid $color-background;

    &:hover {
      background: $color-background;
    }

    &.main:hover {
      background: inherit;
      cursor: inherit;
    }
  }

  .column-header {
    display: inline-block;
    position: relative;
    padding: $base-size ($base-size * 3) $base-size $base-size;
    border-radius: $base-size / 3;
    cursor: pointer;

    img {
      position: absolute;
      top: 16px;
      right: 16px;
      width: $base-size * .75;
      height: $base-size * .75;
      filter: $color-header-filter;
      display: none;
    }

    &:hover, &.active {
      background: $color-background;

      h3 {
        color: $color-text;
      }

      img {
        display: block;
      }
    }
  }

  p {
    padding-left: $base-size;
  }

  .pagination {
    display: flex;
    justify-content: center;
    padding: $base-size * 2;

    a {
      padding: $base-size ($base-size * 1.5);
      border-radius: $base-size / 3;
      font-size: $font-size-header;

      &.active {
        @extend h3;
        background: $color-background;
      }
    }

    img {
      width: $base-size * 1.5;
      height: $base-size * 1.5;
      filter: $color-header-filter;
    }
  }

  .payout-table {
    .date {
      flex-basis: 30%;
      min-width: 85px;
    }

    .amount {
      flex-basis: 30%;
      min-width: 133px;
    }

    .deal {
      flex-basis: 20%;
      min-width: 83px;
    }

    .account {
      flex-basis: 20%;
      min-width: 110px;
    }
  }

  .details-table {
    .tracker-name {
      flex-basis: 13%;
      min-width: 151px;
    }

    .initiated-date {
      flex-basis: 13%;
      min-width: 147px;
    }

    .visits {
      flex-basis: 7%;
      min-width: 87px;
    }

    .unique {
      flex-basis: 8%;
      min-width: 100px;
    }

    .signups {
      flex-basis: 8%;
      min-width: 106px;
    }

    .ftd {
      flex-basis: 6%;
      min-width: 75px;
    }

    .depositors {
      flex-basis: 10%;
      min-width: 130px;
    }

    .deposits {
      flex-basis: 11%;
      min-width: 137px;
    }

    .payout {
      flex-basis: 9%;
      min-width: 125px;
    }

    .turnover {
      flex-basis: 9%;
      min-width: 115px;
    }

    .deal {
      flex-basis: 6%;
      min-width: 80px;
    }
  }
}
