.section--sidebar {
  padding: 0;
  background: $color-dark-background;
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  z-index: 2;
  //display: none;                                                 // TODO: remove
}
