.section--sidebar {
  padding: 0;
  background: $color-dark-background;
  position: fixed;
  top: 70px;
  left: 0;
  width: 15%;
  height: 100%;
  z-index: 2;
  transition: $transition;

  &.collapsed {
    height: 0;
    overflow: hidden;
  }
}
