body {
  font-family: $font-text;
  background: $color-background;
}

h1 {
  font-family: $font-logo;
  font-size: $font-size-logo;
  font-weight: 500;
  color: $color-light;
  margin: 0;
}

h2 {
  font-size: $font-size-section;
  font-weight: 700;
  color: $color-section;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-size: $font-size-header;
  font-weight: 700;
  color: $color-header;
  margin: 0;
}

p {
  font-size: $font-size-text;
  font-weight: 400;
  color: $color-text;
  margin: 0;
}

a {
  color: $color-blue;
  text-decoration: none;
  font-size: $font-size-text;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    font-size: $font-size-text;
    font-weight: 400;
    color: $color-text;
    padding: $base-size;
  }
}
