@media (min-width: 768px) and (max-width: 991px) {
  .pages > * {
    width: 76%;
    margin-left: 22%;
  }

  .extended > * {
    width: 96%;
    margin: 0 2% 0;
  }

  .section--logo, .section--sidebar {
    width: 20%;
  }

  .section--personaldata {
    .field {
      flex-direction: column;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"] {
      width: 100%;
      margin-top: $base-size / 2;
    }
  }

  .section--payout .payout-table {
    .date .column-header {
      width: 43%;
    }

    .amount .column-header {
      width: 67%;
    }

    .deal .column-header {
      width: 52%;
    }

    .account .column-header {
      width: 99%;
    }
  }
}

@media (max-width: 767px) {
  .pages > * {
    width: 96%;
    margin-left: 2%;
  }

  .section--logo {
    width: 100%;
  }

  .section--sidebar {
    width: 100%;
    height: calc(100% - 266px);
  }

  .comp--topbar {
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: $color-dark-background;
    border-bottom: none;
    height: auto;
    z-index: 2;

    &.collapsed {
      height: 0;
      overflow: hidden;
    }

    .topbar-box {
      display: flex;
      border-top: 1px solid $color-section;
      border-left: none;
      padding: $base-size;

      &:last-of-type {
        border-right: none;
      }

      &:hover {
        background: $color-section;

        img {
          filter: $color-light-filter;
        }

        h2 {
          color: $color-light;
        }
      }
    }

    .alerts::after {
      width: $base-size;
      height: $base-size;
      top: 8px;
      left: 37px;
    }
  }

  .comp--calendar {
    .calendar-form {
      flex-direction: column;
      margin-right: 0;

      input[type="text"] {
        text-align: center;

        &:last-of-type {
          border-left: none;
        }
      }
    }
  }

  .section--general-statistic {
    .list-with-one-digit-box {
      width: 100%;
    }
  }

  .comp--list {
    h3 {
      flex-basis: 100%;
    }
  }

  .section--personaldata {
    .field {
      flex-direction: column;
      width: 70%;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"] {
      width: 100%;
      margin-top: $base-size / 2;
    }
  }
}
