@media (min-width: 768px) and (max-width: 991px) {
  .section--sidebar {
    width: 20%;
  }

  section {
    width: 76%;
    margin-left: 22%;
  }
}

@media (max-width: 767px) {
  .section--general-statistic {
    .calendar-form {
      flex-direction: column;

      input {
        text-align: center;
      }
    }

    .list-with-one-digit-box {
      width: 100%;
    }
  }

  // .comp--list {
  //   .list-box {
  //   }
  // }
}
