/* Colors */

$color-section: #979797;
$color-header: #636363;
$color-text: #000000;

$color-background: #e3e3e3;
$color-dark-background: #333333;
$color-light: #f5f5f2;

$color-orange: #f58220;
$color-blue: #56819f;
$color-green: #04ae00;

/* Base size */

$base-size: 12px;

/* Font sizes */

$font-size-logo: 35px;
$font-size-section: 18px;
$font-size-header: 16px;
$font-size-text: 14px;

/* Fonts */

$font-logo: "Logo Font", Helvetica, Arial;
$font-text: "Open Sans", Helvetica, Arial;
