/* Colors */

$section-color: #979797;
$header-color: #636363;
$text-color: #000000;

$background-color: #e3e3e3;
$dark-background-color: #333333;
$light-color: #f5f5f2;

$orange-color: #f58220;
$blue-color: #56819f;
$green-color: #04ae00;

/* Font sizes */

$logo-font-size: 30px;
$section-font-size: 20px;
$header-font-size: 18px;
$text-font-size: 16px;

/* Fonts */

$logo-font: "Logo Font", Helvetica, Arial;
$text-font: "Open Sans", Helvetica, Arial;
