.btn {
  padding: $base-size ($base-size * 2);
  margin: ($base-size * 2) 0;

  color: $color-light;
  font-size: $font-size-header;
  font-weight: 100;
  overflow: hidden;
  border: none;
  border-radius: $base-size / 3;
  outline: none;
  cursor: pointer;
}

.btn-orange {
  background: $color-orange;

  &:hover {
    background: $color-orange-light;
  }
}

.btn-grey {
  background: $color-header;

  &:hover {
    background: $color-section;
  }
}

.btn-disabled {
  display: inline-flex;
  align-items: center;
  background: $color-section;              // TODO: zmienić na $color-background
  cursor: not-allowed;

  img {
    width: $base-size * 1.5;
    height: $base-size * 1.5;
    margin-right: $base-size;
  }
}

.btn-chart {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: $color-header;
  background: inherit;
  margin: 0 ($base-size * 2) 0;
  padding-left: $base-size * 4;

  &::after {
    position: absolute;
    content: '';
    width: $base-size * 1.5;
    height: $base-size * 1.5;
    top: 12px;
    left: 16px;
    border-radius: 50%;
  }

  &:hover, &.active {
    background: $color-background;
  }
}
