.comp--logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: ($base-size * 2) ($base-size * 2) $base-size;
  width: 100%;
  cursor: pointer;

  i {
    font-size: $base-size * 2;
    color: $color-section;
    padding-left: $base-size * 2;
  }
}
