.comp--logo {
  display: flex;
  justify-content: space-between;
  padding: ($base-size * 2) ($base-size * 2) $base-size;
  cursor: pointer;

  i {
    font-size: $base-size * 2;
    color: $color-section;                 // TODO: zmienić na $color-background
    padding-top: $base-size / 2;
  }
}
