.comp--manager {
  padding: $base-size * 2;

  .manager-contact {
    display: inline-flex;
    align-items: center;
  }

  h2 {
    font-size: $font-size-header;
    color: $color-section;                 // TODO: zmienić na $color-background
  }

  img {
    width: $base-size * 4;
    height: $base-size * 4;
    margin: ($base-size * 2) 0;
    cursor: pointer;
  }

  a {
    font-size: $font-size-header;
    margin-left: $base-size;
  }
}
