.comp--manager {
  padding: $base-size * 2;
  width: 100%;

  .manager-contact {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  h2 {
    font-size: $font-size-header;
    color: $color-section;
  }

  img {
    width: $base-size * 4;
    height: $base-size * 4;
    margin: ($base-size * 2) 0;
  }

  a {
    font-size: $font-size-header;
    margin-left: $base-size;
  }
}
