.comp--navigation {
  padding: $base-size * 2;

  img {
    display: inline;
    width: $base-size * 2;
    height: $base-size * 2;
  }

  path {
    fill: $color-section;    // NIE DZIAŁA // TODO: zmienić na $color-background
  }

  p {
    display: inline;
    color: $color-section;                 // TODO: zmienić na $color-background
    margin: ($base-size / 2) 0 0 $base-size;
  }

  .nav-box {
    display: flex;
    padding: $base-size 0;
    cursor: pointer;

    &:hover {
      border-left: 3px solid $color-orange;
      background: $color-section;

      path {
        fill: $color-light;                                        // NIE DZIAŁA
      }

      p {
        color: $color-light;
      }
    }
  }
}
