.comp--navigation {
  padding: ($base-size * 2) 0;

  img {
    width: $base-size * 2;
    height: $base-size * 2;
    filter: $color-section-filter;  // TODO: zmienić na $color-background-filter
  }

  a {
    color: $color-section;                 // TODO: zmienić na $color-background
    margin-left: $base-size;
  }

  .nav-box {
    display: flex;
    align-items: center;
    padding: $base-size ($base-size * 2);
    cursor: pointer;

    &:hover, &.active {
      border-left: 4px solid $color-orange;
      background: $color-section;

      img {
        filter: $color-light-filter;
      }

      a {
        color: $color-light;
      }
    }
  }
}
